{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Django 2.2 Simple Blog Post">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" crossorigin="anonymous">
    <link href="{% static 'css/navbar-top-fixed.css' %}" rel="stylesheet" type="text/css" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" crossorigin="anonymous">

    <title>Log Scanner App</title>

  </head>
  <body>
    {% include 'header.html' %}
    

    <main class="container">
      {% include 'messages.html' %}
        {% block body %}
        {% endblock %}

        {% include 'footer.html' %}
    </main>
    <!-- Jquery library -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}" crossorigin="anonymous"></script>
    <!-- Bootstrap core js -->
    <script src="{% static 'js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
  </body>
</html>