{% extends 'base.html' %} {% block body %}
<div class="bg-light p-5 rounded">
  
    <h2>{{ title }}</h2><hr/>
    <table class="table table-sm">
        <thead class="table-dark">
            <tr>
              <th >#</th>
              <th >Client IP</th>
             
            </tr>
          </thead>
          <tbody>
            {% for ip, country in content.items %}
            <tr>
             
            <td>{{ forloop.counter }}</td>
            <td style="color:blue;">{{ ip }}</td>
          </tr>
            {% endfor %}
            
          </tbody>
    </table>
    
 
</div>
{% endblock %}